@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-bg-main text-white antialiased font-sans;
}
